* {
    margin: 0;
    padding: 0;
}


.container {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}


.content {
    background-color: #f8f8f8;
    height: 450px;
    text-align: center;
    padding-top: 20px;
}

.header {
    background-image: url(img/header.png);
    height: 240px;
    position: relative;
}


.contact {
    background-color: #f8f8f8;
}

.block_img {
    display: inline-flex;
    height: 200px;
    width: 300px;
    justify-content: center;
}

.product_block {
    display: table-cell;
    width: 100%;
}

.footer {
    height: 20px;
    background-color: #660066;
    color: white;
    text-align: right;
    padding-right: 30px;
}

.content_product {
    background-color: #f8f8f8;
    padding: 10px 10px 10px 30px;
}

/*Меню*/


.menu_li {
    font-style: italic;
    font-size: 25px;
    font-weight: 600;
    font-family: "Arial";
    list-style-type: none;
    display: inline-flex;
    width: 200px;
    justify-content: center;
}

.menu_link {
    color: #FF0066;
}

.menu {
    position: absolute;
    right: 0;
    bottom: 0;
}

/*Заголовки разного описания товаров*/

.shortDescription {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}


/*Текст краткое описание товаров*/

.DescriptionGood {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}


/*Текст подробного описания товара и производства*/

.DeteiledGood,
.production {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


/*Список внутри характеристики товара*/

.characteristics_link {
    color: #505050;
    font-size: 18px;
    font-weight: 200;
    list-style-image: url(img/sparkl.png)
}

input[type="text"],
[type="email"] {
    height: 18px;
    width: 170px;
    color: slateblue;
    font-size: 15px;
    font-family: "Tahoma";
    margin-left: 10px;
    margin-bottom: 10px;
}

input[type="text"] {
    text-transform: capitalize;
}

textarea {
    width: 325px;
    height: 200px;
    color: slateblue;
    font-family: "Tahoma";
    text-transform: capitalize;
}

button[type="submit"],
[type="reset"] {
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-style: oblique;
    margin: 10px;
}

.form {
    border: 2px solid #FF99FF;
    width: 400px;
    height: 400px;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #FFCCFF;
    text-align: center;
    margin-left: 30px;
}

.adress {
    margin-left: 30px;
}


h1 {
    text-align: center;
    color: #cc0099;
    font-style: oblique;
}

iframe {
    height: 374px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

h2 {
    color: #cc0099;
    font-family: "Book old style";
    font-size: 20px;
    padding: 10px 0px 10px 30px;
}

img {
    outline: 5px solid #FF99Ff;
}


.greeting {
    text-align: center;
    font-family: "Book old style";
    font-size: 15px;
}

a {
    text-decoration: none;
}

.menu_link:hover:before {
    content: ">> ";
    color: skyblue;
}

.menu_link:hover {
    color: skyblue;
}

a,
.menu_link:active {
    color: #CC6699;
}



input[type="email"]:focus {
    color: #6600FF;
    background-color: antiquewhite;
}

.table {
    border: 1px solid #f39;
    width: 350px;
    height: 250px;
    border-collapse: collapse;
    margin: 10px 0px 10px 0px;
}

.table_coll {
    border: 1px solid #f39;
    padding-left: 10px;
    vertical-align: middle;
    text-align: center;
}

.dtimg:hover {
    outline: transparent;
}

p:first-letter {
    color: #00FFCC;
    font-family: "Arial";
    font-size: 18px;
}

.logotip {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50px;
    left: 200px;
}

button[type="toBye"] {
    height: 50px;
    width: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 30px;
    background-color: deeppink;
    font-style: italic;
    text-decoration: none;
    color: whitesmoke;
    border-color: violet;
    margin-left: 400px;

}

button[type="toBye"]:hover {
    text-decoration: underline;
    color: skyblue;
}

button[type="toBye"]:active {
    color: violet;
}